extends base

block content
	.search-bar-container-resultpage
		include _searchBar
	canvas#myChart(width="300" height="100")
	button#toggle-details.btn Show Details
	.review-details
		each feature in labels
			.feature= feature
			.feature-details
				each val in review.classification
					if val.category === feature
						p= val.sentence
						p= val.sentiment
	script(src="/js/chart.min.js")
	script.
		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: "!{labels}".split(','),
					datasets: [{
							label: 'Positives',
							backgroundColor: '#0084B6',
							data: [!{positiveData}],
					},
					{
							label: 'Negatives',
							backgroundColor: '#D9A491',
							data: [!{negativeData}],
					}]
			},
			options: {
				title: {
						display: true,
						text: 'Product Reviews',
						fontSize:20
				},
				tooltips: {
					mode: 'index',
					titleFontSize:17,
					titleSpacing:4,
					bodyFontSize:15,
					bodySpacing:10,
					xPadding:15,
					yPadding:10
				},
				scales: {
					xAxes: [{
						stacked: true,
					}],
					yAxes: [{
						stacked: true,
					}]
				},
				legend: {
					display: true,
					labels:{
						fontSize:15,
					}
				},
				layout: {
					padding: {
						left: 50,
						right: 50,
						top: 0,
						bottom: 0
					}
				}
			}
		});
		document.getElementById('producturl').value="!{productURL}";
		//- document.getElementById("myChart").onclick = function(e){
		//- 	const activePoints = myChart.getElementsAtEvent(e);
		//- 	const feature = activePoints[0]._model.label;
		//- 	console.log(feature)
		//- }
		const detailsButton=document.getElementById('toggle-details');
		detailsButton.addEventListener('click', e => {
			if(e.target.innerHTML === 'Show Details'){
				detailsButton.innerHTML = 'Hide Details'
				document.querySelector('.review-details').style.display='block'
			} else {
				detailsButton.innerHTML = 'Show Details'
				document.querySelector('.review-details').style.display='none'
			}
		})